.main {
  float: left;
  width: 100%;
}

.sidebar {
  width: 25%;
  height: 100vh;
  float: right;
  overflow: auto;
}

.googleMap {
  width: 75%;
  float: left;
}
.googleMap > div {
  width: 100%;
  height: 100%;
}
